// COLOR VARIABLES
$color-primary: #0c202d;
$color-secondary: #183c48;
$color-secondary-2: #264c5a;
$color-secondary-dark: #14323f;
$color-tertiary: #60dbe4;

$color-blue-main: #1c599c;
$color-white: #fff;
$color-black: #000;

$base-text-color: #c3f5fa;
// GLASS

$base-glass: linear-gradient(to right bottom, rgba($color-tertiary, 0.1), rgba($color-white, 0.1));
$base-glass-border: 0.5px solid rgba($color-tertiary, 0.1);

// SHADOW

$main-btn-hover-shadow: 0 0 1rem $color-tertiary, 0 0 2rem $color-tertiary;
$base-text-shadow-light: 0 0 1rem $color-tertiary;
$base-text-shadow-light-sm: 0 0 0.5rem $color-tertiary;

$text-shadow-hero: 0 0 1rem $color-tertiary, 0 0 2rem $color-tertiary, 0 0 4rem $color-tertiary,
  0 0 8rem $color-tertiary;

$base-glass-shadow: 5px 5px 1rem rgba($color-black, 0.1);

// GRADIANT
$base-bg-gradiant: radial-gradient(
  rgba(41, 41, 41, 0.5) 0%,
  rgba(41, 41, 41, 0.6) 30%,
  rgba(41, 41, 41, 0.7) 50%,
  rgba(41, 41, 41, 0.8) 80%
);

// FONT-FAMILY VARIABLES

$font-heading: "Outfit", sans-serif;
$font-text: "Roboto", sans-serif;

// FONT-SIZE

$base-text-font: 1.4rem;
