// COLOR VARIABLES
$color-primary: #0c202d;
$color-secondary: #183c48;
$color-secondary-dark: #14323f;
$color-tertiary: #60dbe4;

$color-blue-main: #1c599c;
$color-white: #fff;
$color-black: #000;

// FONT VARIABLES

$font-heading: "Outfit", sans-serif;
$font-text: "Roboto", sans-serif;
