.circle-1 {
  background-color: $color-tertiary;
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  position: absolute;
  top: 60%;
  transform: translate(-50%, -50%);
  left: -8rem;
  filter: blur(7rem);
  z-index: -5;
}

.circle-2 {
  background-color: $color-tertiary;
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  position: absolute;
  top: 60%;
  transform: translate(0, -50%);
  right: -18rem;
  filter: blur(7rem);
  z-index: -5;
}

.circle-3 {
  background: linear-gradient(to right bottom, rgba($color-tertiary, 0.5), rgba($color-white, 0.1));
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  position: absolute;
  top: 4rem;
  right: 2rem;
  filter: blur(1px);
  z-index: -5;
}

.circle-4 {
  background: linear-gradient(to right bottom, rgba($color-tertiary, 0.5), rgba($color-white, 0.1));
  height: 25rem;
  width: 25rem;
  border-radius: 50%;
  position: absolute;
  bottom: -12rem;
  left: 23rem;
  filter: blur(1px);
  z-index: -5;
}

.circle-5 {
  background: linear-gradient(to right bottom, rgba($color-white, 0.1), rgba($color-tertiary, 0.5));
  height: 13rem;
  width: 13rem;
  border-radius: 50%;
  position: absolute;
  top: -5rem;
  left: -5rem;
  filter: blur(1px);
  z-index: -5;
}
