.footer {
  @include bg-glass;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin: 8rem 1rem 0 1rem;

  &__box {
    padding: 2rem;
    font-size: $base-text-font;
    color: $base-text-color;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
