.header {
  background: $base-glass;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  border: $base-glass-border;
  grid-column: full-start / full-end;
  border-radius: 1.6rem;
  box-shadow: $base-glass-shadow;

  display: flex;
  justify-content: space-between;

  &__logo {
    animation: text-light-on-off 4s infinite;
  }

  &__left-side {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-left: 2rem;
  }

  &__right-side {
    display: flex;
    align-items: center;
  }

  &__nav--items {
    list-style: none;
    align-self: stretch;
    display: flex;
    align-items: center;
  }

  &__nav--item {
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 1rem;
  }

  &__nav--link:link,
  &__nav--link:visited {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 2.5rem;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 500;
    font-family: $font-heading;
    color: $color-white;
    transition: all 0.3s ease-in-out;
  }

  &__nav--link:hover,
  &__nav--link:active {
    color: $color-primary;
  }

  &__nav--item:hover {
    background-color: $color-tertiary;
    box-shadow: $main-btn-hover-shadow;
  }
}
