.btn {
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  text-decoration: none;
  text-transform: uppercase;

  &__toggle-mode {
    font-weight: 600;
    background-color: rgba($color-tertiary, 0.1);
    color: rgba($color-white, 0.8);
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    ion-icon {
      width: 1.5rem;
      height: 1.5rem;
    }

    &--active {
      background-color: rgba($color-tertiary, 0.8);
      color: $color-primary;
    }

    &:hover {
      box-shadow: 0 0 0.6rem $color-tertiary;
      background-color: rgba($color-tertiary, 0.3);
    }

    &--active:hover {
      box-shadow: 0 0 0.6rem $color-tertiary;
      background-color: rgba($color-tertiary, 0.8);
    }
  }

  &-light,
  &-light:link,
  &-light:visited {
    font-weight: 500;
    padding: 2rem 3rem;
    background: $color-tertiary;
    color: $color-primary;
    border-radius: 1.2rem;
  }

  &-light:hover,
  &-light:active {
    box-shadow: $main-btn-hover-shadow;
  }
}
