@keyframes text-light-on-off {
  5% {
    text-shadow: $base-text-shadow-light;
  }

  30% {
    text-shadow: none;
  }

  60% {
    text-shadow: $base-text-shadow-light;
  }

  70% {
    text-shadow: none;
  }

  85% {
    text-shadow: $base-text-shadow-light;
  }

  100% {
    text-shadow: none;
  }
}

@keyframes color-rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
