%heading {
  font-family: $font-heading;
  font-weight: 400;
}

.heading-1 {
  font-family: $font-heading;
  font-weight: 400;
  font-size: 6rem;

  &--light {
    color: $color-tertiary;
  }

  &--dark {
    color: $color-primary;
  }
}

.heading-2 {
  font-family: $font-heading;
  font-weight: 400;
  font-size: 2.5rem;

  &--light {
    color: $color-tertiary;
    text-shadow: $base-text-shadow-light-sm;
  }

  &--dark {
    color: $color-primary;
  }
}

.heading-3 {
  font-family: $font-heading;
  font-weight: 400;
  font-size: 2rem;

  &--light {
    color: $color-tertiary;
    text-shadow: $base-text-shadow-light-sm;
  }

  &--dark {
    color: $color-primary;
  }
}

.heading-4 {
  font-family: $font-heading;
  font-size: 1.8rem;
  font-weight: 300;

  &--light {
    color: $color-tertiary;
    text-shadow: $base-text-shadow-light-sm;
  }

  &--dark {
    color: $color-primary;
  }
}

.heading-5 {
  font-family: $font-heading;
  color: $base-text-color;
  font-size: 1.6rem;
  font-weight: 300;

  &--light {
    color: $color-tertiary;
  }

  &--dark {
    color: $color-primary;
  }
}

.heading-sections {
  font-family: $font-heading;
  grid-column: 1/-1;
  margin: 3rem 0.8rem 1.5rem;
  color: $color-tertiary;
  text-shadow: $base-text-shadow-light;
}
